# On Linux uncomment the line below and in a terminal run `hostname` and change the value below from myhostname to the result you get.
#XDEBUG_CONFIG="client_host=spaceoflove"

# On Mac uncomment this line
XDEBUG_CONFIG="client_host=host.docker.internal"

# PHPStorm IDE configuration server name for CLI debugging
PHP_IDE_CONFIG=serverName=coding-poc
